.input {
  display: grid;
  grid-template-columns: 1fr  auto auto  auto 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  border: solid gray;
  padding: 5px;
}

.input__field {
  place-self: center;
  grid-column: 2/3;
}
.input__button {
  place-self: center;
  grid-column: 3/4;
}