.input {
  display: grid;
  grid-template-columns: 1fr  min-content;
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  border: solid gray;
  padding: 5px;
}

.input__field {

}
.input__button {
  min-width: 150px;
}