.kanban {
  /*display: grid;*/
  /*grid-template-columns: 1fr 1fr 1fr;*/
  /*grid-template-rows: 1fr;*/
  /*justify-self: center;*/
  grid-gap: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*overflow-y: scroll;*/
  overflow: hidden;
  box-sizing: border-box;
  border: solid gray;
}
