.status {
  display: grid;
  /*height: available;*/
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
  max-width: 500px;
  min-width: 300px;
  overflow: hidden;
  border: solid darkblue;
  background-color: white;
  text-align: center;
}

.status__title {
  text-shadow: #632b63 2px 1px 3px;
}

.status__cards {
  overflow-y: scroll;
  scrollbar-track-color: white;

}
