.app {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 50px 1fr 40px;
  grid-template-columns: 1fr;
  background-color: rgba(187, 227, 244, 0.31);
}

.app__header {
  background-color: #bdd8fb;
  align-self: center;
}
.app__main {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;

}

.app__footer {
  background-color: #bdd8fb;
  align-self: center;
  justify-self: stretch;
  text-align: center;
}

/*.app__main__input {*/
/*  border: solid orange;*/
/*  align-items: center;*/
/*}*/
/*.app__main__kanban {*/
/*  display: grid;*/
/*  overflow: hidden;*/
/*  border: red;*/
/*  margin: 10px;*/
/*  padding: 0px;*/
/*}*/

