.todo {
  border: solid purple;
  border-radius: 10px;
  background-color: rgba(255, 105, 180, 0.68);
  margin: 3px;
  padding: 2px;
}
.todo__description {
  margin: 5px;
}
.todo__button {
  font-size: x-small;
  color: white;
  background-color: hotpink;
  border-color: rebeccapurple;
  padding: 5px;
  margin: 2px;
  border-radius: 3px;
  justify-self: flex-end;
}
